<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>爱心患者·欢迎您</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 pt-lg-5">
        <h1 class="h4 mt-5 mb-4 text-center text-danger">用户必读</h1>
        <p class="mt-5 pl-3 pr-3 text-center">无偿志愿捐献角膜的爱心人士，可填写以下详细信息。我们将在24小时
            内与您取得联系，帮助完善相关手续。
        </p>
        <p class="pl-3 pr-3 text-center mt-5">
            某些传染性疾病，梅毒、狂犬病、麻风、白喉、病毒性肝炎、脑炎、脊髓灰质炎等，恶性肿瘤以侵犯眼组织者，以及白血病、何杰金氏病等，某些眼部疾病和眼前断恶性肿瘤、视网膜母细胞瘤、病毒性角膜炎、角膜变性或疤痕、虹膜睫状体炎、化脓性眼内炎以及做过内眼手术者等，暂不能捐献。
        </p>
        <p class="text-center h5 text-danger p-4 mt-4">我们代表数百万角膜盲患者向您表示最衷心的感谢！</p>
        <div class="row mt-4 justify-content-center">
            <a class="btn btn-outline-danger col-auto" href="{$target}">填写信息</a>
        </div>
    </div>
</div>


</body>
</html>